[submodule "vendor/github.com/coreos/go-iptables"]
	path = vendor/github.com/coreos/go-iptables
	url = https://github.com/coreos/go-iptables
[submodule "vendor/github.com/docker/docker"]
	path = vendor/github.com/docker/docker
	url = https://github.com/docker/docker
[submodule "vendor/github.com/docker/go-units"]
	path = vendor/github.com/docker/go-units
	url = https://github.com/docker/go-units
[submodule "vendor/github.com/fsouza/go-dockerclient"]
	path = vendor/github.com/fsouza/go-dockerclient
	url = https://github.com/fsouza/go-dockerclient
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/github.com/ijc/Gotty"]
	path = vendor/github.com/ijc/Gotty
	url = https://github.com/ijc/Gotty
